*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

body{
    height: 150rem;
}

/*Initial screen*/

.title{
    font-size: 13rem;
    margin-top: 8rem;
    margin-left: 5rem;
}

.division-one{
    background-color: blue;
    width: 100%;
    height: 7rem;
    margin-top: 8rem;
}

/*First Section*/
.first-section{
    display: flex;
    flex-direction: row;
}

.first-section div{
    width: 32rem;
    height: 32rem;
    background-color: rgb(255, 0, 128);
}

.my-photo{
    width: 30rem;
    height: 30rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.resume{
    width: 50rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-left: 1.5rem;
    margin-top: 2.5rem;
}

/*Second Section*/
.division-two{
    width: 50rem;
    height: 3rem;
    background-color: yellow;
}

.second-section{
    display: flex;
    flex-direction: row;
}

.second-section h1{
    font-size: 4rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.second-section div:nth-child(2){
    height: 35rem;
    width: 35rem;
    background-color: green;
    margin-top: -3rem;
}

.second-section div{
    background-color: rgb(137, 178, 255);
}

.about-art{
    width: 49rem;
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    line-height: 2.5rem;
}

.paintings{
    margin-top: 1.5rem;
    margin-left: 1rem;
    width: 33rem;
    height: 33rem;
}

/*Third Section*/
.division-three{
    margin-top: 2rem;
}

.flag{
    width: 100%;
    height: 20rem;
}

.poliglot{
    font-size: 4rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.about-poliglot{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.songs{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

a:visited, a:link{
    text-decoration: none;
    color: blue;
}

/*Fourth Section*/
.division-four{
    display: flex;
    flex-direction: row;
    margin-left: 0.4rem;
    margin-top: 5rem;
}

.division-four-one{
    background-color: blue;
    width:50rem;
    height: 1rem;
}

.division-four-two{
    background-color: green;
    width:55rem;
    height: 1rem;
}

.division-four-three{
    background-color: orangered;
    width: 55rem;
    height: 1rem;
}

.division-four-four{
    background-color: red;
    width:55rem;
    height: 1rem;
}

.division-four-five{
    background-color: purple;
    width: 55rem;
    height: 1rem;
}

.chess{
    font-size: 3rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.about-chess{
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.black-queen{
    position: absolute;
    z-index: -10;
    margin-top: -18rem;
    width: 8rem;
    margin-left: 57rem;
    transform: rotate(-20deg);
    filter: blur(2px);
}

.black-knight{
    position: absolute;
    z-index: -12;
    width: 3rem;
    margin-left: 50rem;
    transform: rotate(-20deg);
    filter: blur(1px);
}

.white-king{
    position: absolute;
    z-index: -15;
    width: 5rem;
    margin-left: 13rem;
    margin-top: 2rem;
    filter: blur(2px);
    transform: rotate(-140deg);
}

.white-pawn{
    position: absolute;
    z-index: -16;
    width: 8rem;
    margin-left: 30rem;
    margin-top: -2rem;
    transform: rotate(50deg);
}

.white-bishop{
    position: absolute;
    z-index: -17;
    width: 8rem;
    margin-left: 70rem;
    filter: blur(0.5px);
    transform: rotate(40deg);
}

.black-rook{
    position: absolute;
    z-index: -18;
    width: 5rem;
    margin-left: 48rem;
    margin-top: 6rem;
    transform: rotate(-10deg);
}