body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto";
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(67, 43, 154, 1) 100%
  );
}
