/*Sixth section*/
.finally{
    font-size: 4rem;
    margin-top: 48rem;
    margin-left: 2.5rem;
    transition: 2s;
}

.coding{
    font-size: 4rem;
    margin-top: 7rem;
    margin-left: 2.5rem;
    transition: 2s;
}

.about-coding{
    margin-left: 2.5rem;
    margin-top: 3rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    transition: 2s;
}

.project-image{
    width: 40rem;
    height: 40rem;
    margin-left: 23rem;
    margin-top: 2rem;
    transition: 2s;
}