/*Third Section*/

#division-three {
    position: relative;
    width: 84.375rem;
    height: 20rem;
    margin-top: 2rem;
    overflow: hidden;
}

#division-three ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}

#division-three ul li {
    position: relative;
    height: 100%;

    float: left;
}

#division-three ul li img {
    width: 84.375rem;
    height: 20rem;
}

.poliglot{
    font-size: 4rem;
    margin-left: 2rem;
    margin-top: 2rem;
    transition: 2s;
}

.about-poliglot{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    transition: 2s;
}

.songs{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    transition: 2s;
}

a:visited, a:link{
    text-decoration: none;
    color: blue;
}


